@model LoginVm
@{
    ViewData["Title"] = "Login";
}
<div class="row">
    <div class="offset-md-4 col-md-4">
        <div class="card border-0 shadow-sm rounded-0">
            <div class="card-header text-center h6 text-uppercase">Login to your Career Connect account</div>
            <div class="card-body">
                <form asp-action="Login" method="post">
                    <div class="row g-3">
                        <div class="col-12">
                            <label class="form-label" asp-for="Username"></label>
                            <input class="form-control" asp-for="Username"/>
                            <span class="text-danger" asp-validation-for="Username"></span>
                        </div>
                        <div class="col-12">
                            <label class="form-label" asp-for="Password"></label>
                            <input class="form-control" asp-for="Password"/>
                            <span class="text-danger" asp-validation-for="Password"></span>
                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary w-100">Login</button>
                        </div>
                        <div class="col-md-6">
                            <a asp-action="Register" class="btn btn-link w-100 text-center">Register</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
