@model Resume
@{
    ViewData["Title"] = "Delete Resume";
}

<div>
<div class="my-2">  
    Are you sure want to delete Resume <span class="fw-bold text-primary">@Model.Name</span>?
</div>
<form asp-action="DeleteConfirmed" asp-controller="Resume" asp-route-Id="@Model.Id">
    <button class="btn btn-danger" type="submit"> Confirm delete resume </button>
</form>
</div>