@{
    ViewData["Title"] = "Apply";
}
<div class="text-center">
    <div class="text-success my-2 fw-bold">Apply Job success</div>
    <a class="btn btn-primary" asp-action="Index">Back to List </a>
</div>